// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #A4C140,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  muted:      #9B9B9B,
  edit:       #F7AC23,
  stf-blue:   #1F57A7,
  hard-light: white
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

//COMMONS//

.img-perfil{
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  border: 2px solid #A4C140;
  overflow: hidden;
  position: relative;
}

.img-perfil img{
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
}

.button-ios-edit{
  color: white !important;
}

ion-item-options .button{
  font-size: 10pt !important;
}

h5,
h3{
  color: #A4C140;
  text-align: center;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-muted{
  color: gray;
}

.text-blue{
  color: #1F57A7 !important;
}

.text-red{
  color: red;
}

.font-bold{
  font-weight: bold;
}

.text-truncated{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-0{
  padding: 0 !important;
}

.pb-2{
  padding-bottom: 2%;
}

.button-inner .back-button-text{
  display: none !important;
}

.bg-login{
  background-color: #1F57A7 !important;
}

.w-100{
  width: 100% !important;
}
//END COMMONS//

// HEADER //
  .toolbar-background{
    background: #1F57A7 !important;
    border-bottom: 2px solid #A4C140 !important;
  }

  .title{
    text-align: center;
  }

  .bar-button{
    color: white !important;
  }
  // END HEADER //

  //TABS//
  .tabs-md .tabbar,
  .tabs-ios .tabbar{
    border: none !important;
  }

  .tabs-ios[tabsLayout=title-hide] .tab-button,
  .tabs-ios .tab-button.icon-only{
    border-top: thin solid lightgray;
  }

  .tabs-ios .tab-button:hover:not(.disable-hover),
  .tabs-md .tab-button[aria-selected=true],
  .tabs-ios .tab-button[aria-selected=true]{
    border-top: thin solid #A3C140 !important;
  }
  .tabs-md .tab-button[aria-selected=true] .tab-button-icon,
  .tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
    color: #A4C140 !important;
  }
  //END TABS//

  .date-list ion-label,
  .ctg-list ion-item,
  .adm-list ion-item{
    color: #1F57A7 !important;
  }

  .date-list .datetime-text,
  .ctg-list .select-text{
    color: #A4C140 !important;
  }
  