<ion-header>
    <ion-navbar>
        <ion-title><img src="assets/logo-stefanini-games.svg"></ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>{{campeonato.categoria.nome}}</h3>
    
    <ion-list-header><ion-icon name='ios-calendar-outline' item-start></ion-icon>Data</ion-list-header>
    <ion-item>
        1º Etapa:
        <ion-note item-end>{{getDataFormatada(campeonato.dataInicio)}}</ion-note>
    </ion-item>
    <ion-item>
        Final:
        <ion-note item-end>{{getDataFormatada(campeonato.dataFim)}}</ion-note>
    </ion-item>
    <br>
    
    <ion-list-header><ion-icon name='ios-trophy-outline' item-start></ion-icon>Prêmios</ion-list-header>
    <ion-item *ngIf="isPrimeiroLugar()">
        1º Lugar:
        <ion-note item-end>{{campeonato.premioCampeao}}</ion-note>
    </ion-item>
    <ion-item *ngIf="isSegundoLugar()">
        2º Lugar:
        <ion-note item-end>{{campeonato.premioSegundoColocado}}</ion-note>
    </ion-item>
    <ion-item *ngIf="isTerceiroLugar()">
        3º Lugar:
        <ion-note item-end>{{campeonato.premioTerceiroColocado}}</ion-note>
    </ion-item>
    <ion-item *ngIf="!hasPremio()">
        <ion-note>Não existem prêmios <ion-icon name='ios-sad-outline'></ion-icon></ion-note>
    </ion-item>
</ion-content>